body {
  background-color:#FFFFFF;
}

img:hover {
  transform: scaleX(-1);
  align-items: center;
}

span {
  align-content: center;
}

.head {

}
.ghost2 {
  transform: scaleX(-1);
  float: right;
}

.ghost2:hover {
  transform: scaleX(-1);
}
