body {
  background: radial-gradient(deeppink, black);
  min-height: 100vh;
}

h1 {
  font-family: monospace;
  position: absolute;
  top: 10px;
  left: 50%;
  color: white;
  transform: translateX(-50%);
  text-align: center;
}

.spider {
  position: fixed;
  top: calc(50% - 35vh);
  left: calc(50% - 35vh);
  font-size: 70vh;
  animation: spin 10s infinite linear;
  opacity: 0.8;
}

.pumpkin {
  position: fixed;
  top: calc(50% - 15vh);
  left: calc(50% - 15vh);
  font-size: 30vh;
  animation: spin-inverse 5s infinite linear;
  opacity: 0.8;
}

.ghost {
   position: fixed;
  top: calc(50% - 10vh);
  left: calc(50% - 10vh);
  font-size: 20vh;
  animation: spin 1s infinite linear;
  opacity: 0.8;
}

@keyframes spin {
  0% {
    transform: rotate(0) translateX(10%) scale(1);
  }

  50% {
    transform: rotate(-180deg) translateX(10%) scale(.2);
  }

  100% {
    transform: rotate(360deg) translateX(10%) scale(1);
  }
}

@keyframes spin-inverse {
  0% {
    transform: rotate(0) translateX(-10%) scale(1);
  }

  50% {
    transform: rotate(180deg) translateX(10%) scale(2);
  }

  100% {
    transform: rotate(-360deg) translateX(-10%) scale(1);
  }
}