* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url("images/2spooky5me2.png");
  background-size: 100px;
  background-color: #f2f2f2;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
}

.floater {
  position: relative;
  width: 90%;
  max-width: 700px;
  padding: 2rem 1.5rem;
  margin: 2rem auto 6rem;
  color: black;
  background: white;
  box-shadow: 10px 10px 0px black;
}

.jd {
  padding: 10px;
  border-radius: 10px;
  background: black;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3 {
  font-family: "Barriecito", cursive;
}

h1 {
  text-align: center;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

h1,
h2 {
  text-shadow: 1px 1px 1px darkorange;
}

a,
a:visited {
  font-weight: 500;
  color: darkorange;
}

a:hover {
  color: orangered;
}

p {
  line-height: 1.5;
}

.emoji {
  margin-top: 2rem;
  font-size: 1.25rem;
}

.emoji:first-child {
  margin-right: 1rem;
}

.emoji:last-child {
  margin-left: 1rem;
}

.emoji {
  display: inline-block;
  animation: shake 1s infinite;
}

.sites {
  margin-top: 2rem;
  column-count: 2;
}

.sites > a {
  display: block;
  line-height: 1.5;
}

code,
pre {
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  line-height: 1.5;
  padding: 0.5rem 1rem;
  box-shadow: inset -1px 1px 3px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

code {
  display: inline-block;
  width: 100%;
  white-space: nowrap;
}

.mono {
  font-family: monospace;
  font-weight: bold;
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0);
  }

  33% {
    transform: rotate(10deg);
  }

  66% {
    transform: rotate(-10deg);
  }
}

.zoomy {
  position: absolute;
  font-size: 2rem;
  z-index: 10000;
  transform: translate(-50%, -50%);
}

.doc-image {
  display: block;
  max-width: 100%;
  margin: 1rem 0;
}
