/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

*, input, :before, :after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* Actual styles */

.main {
    position: relative;
    height: 100vh;
    display: flex;
    background: black;
}

.section {
    margin: auto;
}

.main__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main__overlay:hover .main__overlay-top {
    transform: translate(-100vw, 0);
}

.main__overlay:hover .main__overlay-right {
    transform: translate(0, -100vh);
}

.main__overlay:hover .main__overlay-bottom {
    transform: translate(100vw, 0);
}

.main__overlay:hover .main__overlay-left {
    transform: translate(0, 100vh);
}

.abs-pos {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.main__overlay-top {
    height: 0;
    width: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 50vh solid transparent;
    border-top: 50vh solid #1b7ff2;
}

.main__overlay-right {
    height: 0;
    width: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid #f26d1b;
    border-bottom: 50vh solid transparent;
    border-top: 50vh solid transparent;
}

.main__overlay-bottom {
    height: 0;
    width: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 50vh solid #f2d91b;
    border-top: 50vh solid transparent;
}

.main__overlay-left {
    height: 0;
    width: 0;
    border-left: 50vw solid #c01bf2;
    border-right: 50vw solid transparent;
    border-bottom: 50vh solid transparent;
    border-top: 50vh solid transparent;
}

.animate {
    transition: transform 1.5s ease;
}
