body {
  margin: 10px;
  display: flex;
  justify-content: center;
  background-image: url(./images/as-spooky.jpg);
}

.participant {
  display: flex;
  color: white;
  flex-direction: column;
  border-radius: 5px;
  justify-content: space-between;
}

.participant__information {
  align-items: center;
}

.participant__image > img {
  height: 400px;
  width: 400px;
  border: 2px solid black;
  border-radius: 10px;
}
