.hacktober_title{
	color: #ff4411; font-size: 48px; font-family: 'Signika', sans-serif; padding-bottom: 10px;
}
.hacktober_content{
	color: #111111; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px;
}